<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title><%= title %></title>
    <link href="/assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/vendors/themify-icons/css/themify-icons.css" rel="stylesheet" />
    <link href="/assets/vendors/jvectormap/jquery-jvectormap-2.0.3.css" rel="stylesheet" />
    <link href="/assets/css/main.min.css" rel="stylesheet" />
	<link href="/assets/vendors/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
    <style>
        .content-wrapper {
            position: relative;
            background-color: #f7f7f7;
            background-color: #f2f2f2;
            background-color: #f1f1f1;
            margin-left: 220px;
            padding: 0 15px 60px 15px;
                padding-top: 0px;
            -webkit-transition: margin .2s ease-in-out;
            -o-transition: margin .2s ease-in-out;
            transition: margin .2s ease-in-out;
            min-height: 1000px;
            }
        #lineModalLabel{
 
            font-family: "Roboto Condensed", sans-serif;
            font-optical-sizing: auto;
            /*font-weight: 900;*/
            font-style: normal;

        }
		.h4, h4 {
			font-size: 14px;
		}
		/*.select2-container .select2-selection--single {
		  box-sizing: border-box;
		  cursor: pointer;
		  display: block;
		  height: 35px;
		  user-select: none;
		  -webkit-user-select: none;
		  font-size: 15px;
		}
		.select2-container--default .select2-selection--single .select2-selection__arrow {
		  height: 26px;
		  position: absolute;
		  top: 1px;
		  right: 1px;
		  width: 20px;
		  margin-top: 1px;
		}
		*/
		.modal-fullscreen {
		  width: 100vw;
		  max-width: none;
		  height: 100%;
		  margin: 0;
		}
		.material-switch > input[type="checkbox"] {
		display: none;   
	}
	.material-switch > label {
		cursor: pointer;
		height: 0px;
		position: relative; 
		width: 40px;  
	}

	.material-switch > label::before {
		background: rgb(0, 0, 0);
		box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
		border-radius: 8px;
		content: '';
		height: 16px;
		margin-top: -8px;
		position:absolute;
		opacity: 0.3;
		transition: all 0.4s ease-in-out;
		width: 40px;
	}
	.material-switch > label::after {
		background: rgb(255, 255, 255);
		border-radius: 16px;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
		content: '';
		height: 24px;
		left: -4px;
		margin-top: -8px;
		position: absolute;
		top: -4px;
		transition: all 0.3s ease-in-out;
		width: 24px;
	}
	.material-switch > input[type="checkbox"]:checked + label::before {
		background: inherit;
		opacity: 0.5;
	}
	.material-switch > input[type="checkbox"]:checked + label::after {
		background: inherit;
		left: 20px;
	}
    </style>
</head>

<body class="fixed-navbar sidebar-mini">
    <div class="page-wrapper">
        <!-- START HEADER-->
        <header class="header">
            <div class="page-brand">
                <%- include('./../partials/logo.ejs') %>
            </div>
            <div class="flexbox flex-1">
                <!-- START TOP-LEFT TOOLBAR-->
                <ul class="nav navbar-toolbar">
                    <li>
                        <a class="nav-link sidebar-toggler js-sidebar-toggler"><i class="ti-menu"></i></a>
                    </li>
                    <li>
                       
                    </li>
                </ul>
                <!-- END TOP-LEFT TOOLBAR-->
                <!-- START TOP-RIGHT TOOLBAR-->
                <ul class="nav navbar-toolbar">
                    <div class="material-switch pull-right" style="margin-right: 35px;">
						<a class="" style="margin-right: 25px;font-size: 18px;font-weight: bold;">Mostrar Valores</a>
						<input id="someSwitchOptionSuccess" name="someSwitchOption001" type="checkbox"/>
						<label for="someSwitchOptionSuccess" class="label-success"></label>
					</div>
                </ul>
                <!-- END TOP-RIGHT TOOLBAR-->
            </div>
        </header>
        <!-- END HEADER-->
        <!-- START SIDEBAR-->
        <nav class="page-sidebar" id="sidebar">
            <div id="sidebar-collapse">
                <div class="admin-block d-flex">
                    <div>
                        <img src="/admin-avatar.png" width="45px" />
                    </div>
                    <div class="admin-info">
                        <div class="font-strong">
							<%= user %>
						</div>
						<small>Administrator</small>
					</div>
                </div>
                <%- include('./../partials/sidebar.ejs') %>
               
            </div>
        </nav>
        <!-- END SIDEBAR-->
        <div class="content-wrapper">
            <!-- START PAGE CONTENT-->
            <div class="page-content fade-in-up">
               

<div class="col-lg-12">
	<div class="ibox">
		<div class="ibox-head">
			<h2 class="font-bold" style="font-size: 22px;">Adicionar Lancamento</h2>
			<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo" style="margin-top:5px">Cadastrar Cliente</button>-->
		</div>
		<div class="ibox-body">
			<form id="formulario" action="javascript:func()" method="post">
				<input type="hidden" id="uid_usuario" value="<%= uid_usuario %>" >				
				<input type="hidden" id="id_empresa" value="<%= id_empresa %>" >
				<input type="hidden" class="form-control"  id="txtDocumentoInterno" />
				<div class="row">
					<div class="col-sm-2">
						<h4 class="card-inside-title ">Documento</h4>
						<div class="form-group">
							<div class="form-line">
								<input type="text" class="form-control"  id="documento" />
							</div>
						</div>
					</div>
					
					<div class="col-md-6">
						<h4 class="card-inside-title ">Cliente</h4>
						<div class="form-group">
							<select class="form-control select2_demo_2" style="width: 100%;"  id="id_cliente">									
								<option value="0" selected> Selecione </option>
								<% cliente.forEach( dados=> { %>
									<option value="<%= dados.id_cliente %>"><%= dados.nome %></option>
								<% }) %>
							</select>
						</div>
					</div>
					<div class="col-sm-2" >
						<h4 class="card-inside-title">Data </h2>
						<div class="form-group">
							<div class="form-line">
								<input type="text" class="form-control date" id="data_atual" />
							</div>
						</div>
					</div>
					<div class="col-sm-2" >
						<h4 class="card-inside-title">Vencimento </h2>
						<div class="form-group">
							<div class="form-line">
								<input type="text" class="form-control date" id="data_vencimento" />
							</div>
						</div>
					</div>						
					
				</div>

				<div class="row">
					<div class="col-md-6">
						<h4 class="card-inside-title ">Produto</h4>
						<div class="form-group">
							<select class="form-control select2_demo_2" style="width: 100%;"  id="id_produto">									
								<option value="0" selected> Selecione </option>
								<% produtos.forEach( dados=> { %>
									<option value="<%= dados.id_produto %>"><%= dados.id_produto %> - <%= dados.descricao %> ( Valor: R$ <%= dados.valor %> )</option>
								<% }) %>
							</select>
						</div>
					</div>
					
					<div class="col-sm-2">
						<h4 class="card-inside-title ">Quantidade</h4>
						<div class="form-group">
							<div class="form-line">
								<input type="text" class="form-control money" id="qtde" value="1" />
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<h4 class="card-inside-title ">Valor</h4>
						<div class="form-group">
							<div class="form-line">
								<input type="text" class="form-control money" placeholder="0.00" id="valor"  />
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<button type="button" class="btn btn-primary" id="addProdutoLancamento" style="margin-top:30px">Adicionar</button>
					</div>
					
				</div>
				<div class="row">
					<div id="div1" style="width:100%; margin-top:25px; padding:25px;"></div>
					<!--<table class="table">
						<thead>
							<tr>
								<th></th>
								<th>Produto</th>
								<th>Quantidade</th>
								<th>Valor</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Mark</td>
								<td>Otto</td>
								<td>@mdo</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Jacob</td>
								<td>Thornton</td>
								<td>@fat</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Larry</td>
								<td>the Bird</td>
								<td>@twitter</td>
							</tr>
						</tbody>
					</table>-->
				</div>
				<div class="row">	
					
					
				</div>
				<div class="row">
					
					<div class="col-md-12">
						<div class="form-group">
							<label>Observação</label>
							<textarea class="form-control" rows="3" id="observacao"></textarea>
						</div>
					</div>
				</div>
				<div class="row">
					<button class="btn btn-primary" type="submit" id="salvarLancamento" style="margin-left: 15px;"><i class="fa fa-fw fa-lg fa-check-circle"></i>Cadastrar</button>&nbsp;&nbsp;&nbsp;
				</div>

			</form>
		</div>
	</div>
</div>
                
            </div>
            <!-- END PAGE CONTENT-->
            <%- include('./../partials/footer.ejs') %>
        </div>
    </div>
	 <!-- MODAL PROFILE 
		<%- include('./../partials/modal_cadastrar_clientes.ejs') %>
	 FIM MODAL PROFILE -->
	
    

    <!-- MODAL PROFILE -->
		<%- include('./../partials/modal_profile.ejs') %>
	<!-- FIM MODAL PROFILE -->
	



	
    <!-- BEGIN PAGA BACKDROPS-->
    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
<!-- End of LiveAgent integration script -->
	<script type="text/javascript" src="/jquery.min.js"></script>
	<script type="text/javascript" src="/jquery-ui.min.js"></script>
	 <script src="/jquery.mask.min.js"></script>
	<script src="/assets/vendors/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
    <script src="/assets/vendors/popper.js/dist/umd/popper.min.js" type="text/javascript"></script>
    <script src="/assets/vendors/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/vendors/metisMenu/dist/metisMenu.min.js" type="text/javascript"></script>
    
	<script src="/assets/vendors/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
    <script src="/assets/vendors/jquery-knob/dist/jquery.knob.min.js" type="text/javascript"></script>
    <script src="/assets/vendors/moment/min/moment.min.js" type="text/javascript"></script>
    <script src="/assets/vendors/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="/assets/vendors/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
    <script src="/assets/vendors/jquery-minicolors/jquery.minicolors.min.js" type="text/javascript"></script>
	
	<script src="/assets/js/app.min.js" type="text/javascript"></script>
	
	
	<script src="/assets/js/scripts/form-plugins.js" type="text/javascript"></script>
	<!--<script src="/assets/js/principal.js" type="text/javascript"></script>-->
	
	<script type="text/javascript">
		$(document).ready(function() {
			let documento_interno_ = "";
			
			$('#valor').mask('000.000.000.000.000,00', {reverse: true});
			console.log(documento_venda())
			
			$('#id_produto').select2();
			$('#id_produto').on('select2:select', function(evt) {
				//console.log($(this).val());
				
				let id_produto = $(this).val();
				$.get("/adm/getDadosproduto/"+id_produto, function(data, status){
					//alert("Data: " + data + "\nStatus: " + status);
					console.log(data);
					document.getElementById("valor").value = data;
					
				});
			});
			
			
			$("#addProdutoLancamento").click(function(){
				let uid = $("#uid_usuario").val();
				let id_empresa = $("#id_empresa").val();			
				let id_cliente = $("#id_cliente").val();
				let id_produto = $("#id_produto").val();
				let qtde = $("#qtde").val();
				let  valor = $("#valor").val();	
				
				
				if(documento_interno_==""){
					documento_interno_ = documento_venda();
				}else{
					documento_interno_ = $("#txtDocumentoInterno").val();
				}
				
				
				
				if (id_cliente=="0"){
					alert("Informe o Cliente");
					return ;
				}
				if (id_produto=="0"){
					alert("Informe o Produto");
					return ;
				}
			
			/*
				console.log('uid  '+uid)
				console.log('empresa '+id_empresa)
				console.log('cleinte '+id_cliente)			
				
				console.log('produto '+id_produto)
				console.log('Quantidade '+qtde)
				console.log('Quantidade '+valor)
			*/	
				
				$.post('/adm/produtosVendas', {
					uid_usuario: uid,
					documento_interno: documento_interno_,
					id_empresa: id_empresa,					
					id_produto: id_produto,
					id_cliente: id_cliente,
					qtde: qtde,
					valor: valor.replace(',','.')
					
				}, function(resposta) {
					document.getElementById("txtDocumentoInterno").value = documento_interno_;
					//swal("Dados Atualizados com Sucesso");
					//setTimeout(() => {
					  //window.location.href = "/adm/principal/"+uid;				  
					//}, "1000");
						
					$("#div1").load("/adm/produtos_tabela/"+documento_interno_);
					
				});
				
				//$("#div1").load("/adm/produtos_tabela");
			})
			
			
			
			$("#salvarLancamento").click(function(){
	
				var uid = $("#uid_usuario").val();			
				var id_empresa = $("#id_empresa").val();			
				var id_cliente = $("#id_cliente").val();
				var valor = $("#valor").val();	
				
				if(id_cliente=="0" || id_cliente==""){
					swal("Informe o Cliente");
					return;
				}
				console.log('valor '+valor);
				if(valor===undefined || valor==""){
					swal("Informe o Valor");
					return;
				}
				var documento = $("#documento").val();				
				var data_lancamento = $("#data_atual").val();	
				var data_vencimento = $("#data_vencimento").val();					
				var observacao = $("#observacao").val();					
				
				console.log(id_empresa)
				console.log(uid)
				console.log(id_cliente)
				console.log(valor)
				
				
				
				return;
				
				
				
				$.post('/adm/addLancamento', {
					uid_usuario: uid,
					id_empresa: id_empresa,
					id_cliente: id_cliente,
					documento: documento,
					data: data_lancamento,
					data_vencimento: data_vencimento, 
					valor: valor.replace(',','.'),
					observacao: observacao
					
				}, function(resposta) {
					console.log(resposta)
				});

			})
			
			
			function documento_venda (){
				var data = new Date();

				// Guarda cada pedaço em uma variável
				var dia     = data.getDate();           // 1-31
				var dia_sem = data.getDay();            // 0-6 (zero=domingo)
				var mes     = data.getMonth();          // 0-11 (zero=janeiro)
				var ano2    = data.getYear();           // 2 dígitos
				var ano4    = data.getFullYear();       // 4 dígitos
				var hora    = data.getHours();          // 0-23
				var min     = data.getMinutes();        // 0-59
				var seg     = data.getSeconds();        // 0-59
				var mseg    = data.getMilliseconds();   // 0-999
				var tz      = data.getTimezoneOffset(); // em minutos
				
				// Formata a data e a hora (note o mês + 1)
				//var str_data = dia + '/' + (mes+1) + '/' + ano4;
				var str_data = ano4 + '-' + (mes+1) + '-' + dia;
				var str_hora = hora + ':' + min + ':' + seg;
				
				
				
				if(dia<10){
					dia="0"+dia;	
				}
				if(min<10){
					min = "0"+min;
				}
				if(hora<10){
					hora = "0"+hora;
				}
				
				var str_data = dia + '/' + (mes+1) + '/' +  ano4;
				// Mostra o resultado
				//alert('Hoje é ' + str_data + ' às ' + str_hora);
				//return str_data + ' ' +str_hora;
				//return str_data;
				return ano4+'-'+(mes+1)+'-'+dia+'-'+hora+'-'+min+'-'+seg;
				

			}
		})
	</script>
</body>

</html>

<!--
                                    -->